<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1> Contact Book</h1>
    <p>Manage your Contact Book Easily</p>


<nav>
    <a href="/add">Add Contact</a>
    <a href="/view">View Contact</a>
    <a href="/edit">Edit Contact</a>
    <a href="/delete">Delete Contact</a>
</nav>



     <section>
        <h2>Add Contact</h2>
        
        <label>Contact Number:</label><br>
        <input type="tel">
        <br>
        <label>Contact Name: </label><br>
        <input type="text">
        <br>
        <label>Contact Address:</label><br>
        <input type="text" >
        <br>
        <button>Add Contact</button>
     </section>


     <section id="View">
        <h2>View Contacts</h2>
        
        <table>
            <tr>
                <th>Contact Number</th>
                <th>Contact Name</th>
                <th>Contact Address</th>
            </tr>

            <tr>
             <td></td>
             <td></td>
             <td></td>
            </tr>
        </table>

     </section>

     <section id="Delete">
        <h2>Delete Contact</h2>
        <label>Contact Number</label>
        <br>
        <input type="tel">
        <br>
        <button>Delete Contact</button>

     </section>
     
     <section id="Edit">
        <h2>Edit Contact</h2>
        <label> Contact Number</label>
        <br>
        <input type="tel">
        <br>
        <label>New Conatct Name</label>
        <br>
        <input type="text">
        <br>
        <label>New Contact Address</label>
        <br>
        <input type="text">
        <br>
        <button>Edit Contact</button>
     </section>

   
 
</body>
</html>